#kotak-login {
	border-style: solid;
	border-color: green;
	margin: 30px 20%;
	height: 400px;
	padding: 50px;
	background-color: white;
	border-radius: 10%;
	border-width: 5px;
}
#kotak-register {
	border-style: solid;
	border-color: green;
	margin: 30px 20%;
	height: 600px;
	padding: 50px;
	background-color: white;
	border-radius: 10%;
	border-width: 10px;
}
#login-form input {
	width: 80%;
	padding: 10px;
}
#login-form button {
	display: block;
	background-color: green;
	color: white;
	padding: 20px 30px;
}
#login-form button:hover {
	background-color: darkgreen;
	color: gray;
}